@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");
* {
  margin: 0.5rem;
  padding: 0.5rem;
}
body {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: "Karla", sans-serif;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ddd;
  font-size: 100%;
  text-align: center;
  margin: 2rem;
  
}

.paragraph {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-wrap: break-word;
  font-size: 1.1rem;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 0;       

}

.paragraph::before   {       
  content: ' ';       
  display: block;            
  font-weight: bold;       
  font-size: 2.3rem;       
  color: gainsboro;       
  border-bottom: 4px dotted gainsboro;       
  width: 500px;       
  text-transform: uppercase;       
  letter-spacing: 5px;        
  text-align: center;       
  margin: 4px auto 10px auto;      
  padding-bottom: 4px; 
  }
.paragraph::after   {       
  content: ' ';       
  display: block;       
  border-bottom: 4px dotted rgb(224, 211, 224);       
  width: 100px;       
  margin: 4px auto 10px auto;       
  padding: 4px 20px; 
}
.section-title {
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  animation: lights 5s 750ms linear infinite;
}
  @keyframes lights {
    0% {
      color: hsl(240, 11%, 95%);
      text-shadow:
        0 0 1em hsla(186, 100%, 50%, 0.2),
        0 0 0.125em hsla(228, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(240, 11%, 95%);
      text-shadow:
        0 0 1em hsla(196, 100%, 50%, 0.5),
        0 0 0.125em hsla(219, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(231, 24%, 94%);
      text-shadow:
        0 0 1em hsla(194, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 43%, 97%);
      text-shadow:
        0 0 1em hsla(202, 100%, 50%, 0.5),
        0 0 0.125em hsla(208, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(240, 17%, 98%);
      text-shadow:
        0 0 1em hsla(187, 100%, 50%, 0.2),
        0 0 0.125em hsla(228, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }

.section-white {
  padding: 70px 0;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  
}
.container > * {
  flex: 1 1 200px;
}

.team-item {
  background: rgba(129, 128, 128, 0.47);
  text-align: center;
  margin: 20px 0;
  padding: 50px 20px 40px 20px;
  border-radius: 8px 8px;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 15px 25px rgb(241 235 235 / 26%);
}

.team-item:hover {
  background: #141415ae;
  color: rgba(255, 255, 255, 0.26);
}

.team-item h3 {
  margin: 20px 0 1px 0 !important;
  color: #262424;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;

}

.section-subtitle {
  white-space: pre-line;
}

.team-item:hover h3 {
  color: #ddd;
}

.team-info {

  margin-bottom: 0;
}

.team-info p {
  color: #2d2c2c;
  font-style: italic;
}

.team-info::after {
  background: #008aff;
  background: -webkit-linear-gradient(135deg, #6b02ff 0%, #5b80ef 100%);
  background: -o-linear-gradient(bottom right, #6b02ff, #5b82ef);
  background: -moz-linear-gradient(bottom right, #008aff, #1ad2fd);
  background: linear-gradient(135deg, #029aff 0%, #252291 100%);
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 50px;
  height: 3px;
}

.team-img {
  max-width: 180px;
  padding: 16px 6px;
  background-color: #dedede;
  border-radius: 50%;
}


ul.team-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
}

ul.team-icon li {
  display: inline-block;
  margin: 0 1px;
 -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.team-icon li a:hover {
  color: #dedede;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@media screen and (min-width: 900px) {
  * {
    margin: 0.3rem;
    padding: 0.3rem;
  }
  .container {
    display: flex;
    flex-direction: unset;
  }
 

}