@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

.Container {
  font-family: 'Karla', sans-serif;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  height: 100%;
}

.Reserv-box a {
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
}

.message-box {
  width: 40%;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.message-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .message-box {
    width: 60%;
  }

  .Container {
    font-size: 0.7rem;
  }
}