.Planet,
.Planet:before,
.Planet:after {
  height: 34vmin;
  width: 34vmin;
  border-radius: 100vw;
  will-change: transform;
  margin: 0 auto;
}

.Planet {
  box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.4);
  position: relative;
}

.Planet,
.Planet:before {
  animation-name: myrotate;
  animation-duration: 150s;
}

.Planet,
.Planet:before,
.Planet:after {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.Planet:before,
.Planet:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.Planet:before {
  box-shadow: inset 20px 20px 100px 00px rgba(0, 0, 0, 0.5),
    0px 0px 5px 3px rgba(0, 0, 0, 0.1);
}

.Planet:after {
  filter: saturate(2.5);
  background: linear-gradient(rgba(0, 0, 0, 1), transparent),
    url("../../planetsTextures/haumea.jpg");
  box-shadow: inset -20px -20px 14px 2px rgba(0, 0, 0, 0.2);
  animation-name: myopacity;
  animation-duration: 5295824s;
}

@keyframes myrotate {
  0% {
    transform: rotatez(180deg);
  }

  100% {
    transform: rotatez(360deg);
  }
}

@keyframes myopacity {
  0% {
    background-position: 0px;
    transform: rotatez(0deg);
  }

  50% {
    background-position: 100000000px;
  }

  100% {
    background-position: 0;
    transform: rotatez(-360deg);
  }
}

.planet-detail {
  height: 70vmin;
  width: 70vmin;
  animation: none;
}

.planet-detail:after {
  height: 70vmin;
  width: 70vmin;
  border-radius: 100vw;
  will-change: transform;
  margin: 0 auto;
}

.no-planet-name {
  display: none;
}

.planet-name {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #fff;
  border: none;
  font-family: 'Orbitron', sans-serif;
}

.planet-name:hover {
  cursor: pointer;
  text-decoration: underline;
}